.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: #000000;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding-left: 8px;
    padding-right: 8px;
  }
}
.header {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ccQj0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.link__zlYiK {
  width: auto;
  max-width: 800px;
  color: var(--token-NxmCtU8ug);
  font-size: 32px;
  padding-left: 0px;
}
.freeBox__edjwf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__edjwf {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.link__cEQp {
  width: auto;
  max-width: 800px;
  color: var(--token-NxmCtU8ug);
  font-size: 24px;
  padding-left: 30px;
}
.link__uiitL {
  width: auto;
  max-width: 800px;
  color: var(--token-NxmCtU8ug);
  font-size: 24px;
  padding-left: 30px;
}
.link___7VWip {
  width: auto;
  max-width: 800px;
  color: var(--token-NxmCtU8ug);
  font-size: 24px;
  padding-left: 30px;
}
.link__gMguC {
  width: auto;
  max-width: 800px;
  color: var(--token-TbPH_7Dh2R9LOD);
  font-size: 24px;
  padding-left: 30px;
}
.freeBox__n4UmO {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  padding: 60px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__n4UmO {
    padding-top: 36px;
  }
}
.h1 {
  width: 70%;
  height: auto;
  max-width: 800px;
  padding-bottom: 82px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 0px;
    padding-bottom: 52px;
    color: var(--token-NxmCtU8ug);
    width: 100%;
    display: block;
  }
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 52px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text {
    max-width: 100%;
    width: 100%;
    text-align: center;
    padding-bottom: 52px;
  }
}
.freeBox__nruY4 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 100%;
  max-width: 100%;
  left: auto;
  top: auto;
  align-self: auto;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nruY4 {
    grid-column-gap: 5%;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    align-self: auto;
    overflow: visible;
    position: relative;
    left: auto;
    top: auto;
    z-index: 1;
    padding: 0px;
  }
}
.link__z6G8 {
  position: relative;
  display: flex;
  padding: var(--token-9lvhKHiNf);
}
.img__rykaG {
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 18px;
}
.img__rykaG > picture > img {
  object-fit: cover;
}
.img__rykaG > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link__tvbNx {
  position: relative;
  display: flex;
  padding: var(--token-9lvhKHiNf);
}
.img__oPTsM {
  object-fit: fill;
  width: 100%;
  height: 100%;
  object-position: 100% 100%;
  border-radius: 18px;
}
.img__oPTsM > picture > img {
  object-fit: fill;
  object-position: 100% 100%;
}
.img__oPTsM > :global(.__wab_img-spacer) > img {
  object-fit: fill;
  object-position: 100% 100%;
}
.footer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 406px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer {
    padding-top: 0px;
  }
}
.freeBox__aRaIh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aRaIh {
    margin-top: 0px;
  }
}
.link__lzgPz {
  width: auto;
  max-width: 800px;
  color: var(--token-NxmCtU8ug);
  font-size: 16px;
  padding-left: 0px;
  height: 24px;
  font-weight: 400;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__lzgPz {
    font-size: 9px;
  }
}
.freeBox___9MzrC {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.link__xNqMt {
  width: auto;
  max-width: 800px;
  color: var(--token-NxmCtU8ug);
  font-size: 16px;
  padding-left: 30px;
}
.link__oOm8P {
  width: auto;
  max-width: 800px;
  color: var(--token-NxmCtU8ug);
  font-size: 16px;
  padding-left: 30px;
}
