.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: #000000;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding-left: 8px;
    padding-right: 8px;
  }
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__n4UmO {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  padding: 60px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__n4UmO {
    padding-top: 36px;
    width: 100%;
    min-width: 0;
  }
}
.h1 {
  width: 70%;
  height: auto;
  max-width: 800px;
  padding-bottom: 82px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 0px;
    padding-bottom: 52px;
    color: var(--token-NxmCtU8ug);
    width: 100%;
    display: block;
  }
}
.img__o3Om7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 20px;
}
.img__o3Om7 > picture > img {
  object-fit: cover;
}
.img__o3Om7 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__giEy8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 32px;
  min-width: 0;
  padding: 66px 10px 52px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__giEy8 {
    max-width: 100%;
    width: 100%;
    text-align: center;
    padding-bottom: 52px;
  }
}
.text__gAliA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 64px;
  font-weight: 700;
  min-width: 0;
  padding: 66px 10px 52px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gAliA {
    max-width: 100%;
    width: 100%;
    text-align: center;
    padding-bottom: 52px;
  }
}
.freeBox__nruY4 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  max-width: 100%;
  left: auto;
  top: auto;
  align-self: auto;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nruY4 {
    grid-column-gap: 5%;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    align-self: auto;
    overflow: visible;
    position: relative;
    left: auto;
    top: auto;
    z-index: 1;
    padding: 0px;
  }
}
.link__z6G8 {
  position: relative;
  display: flex;
  padding: var(--token-9lvhKHiNf);
}
.reveal__fz6Fc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.img__rykaG {
  object-fit: cover;
  width: 100%;
  height: 180px;
  border-radius: 18px;
}
.img__rykaG > picture > img {
  object-fit: cover;
}
.img__rykaG > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link__i5S4W {
  position: relative;
  display: flex;
  padding: var(--token-9lvhKHiNf);
}
.reveal__uizk3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.img__lmTmf {
  object-fit: cover;
  width: 100%;
  height: 180px;
  border-radius: 18px;
}
.img__lmTmf > picture > img {
  object-fit: cover;
}
.img__lmTmf > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.footer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 240px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer {
    padding-top: 0px;
  }
}
.freeBox__wqlU8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wqlU8 {
    margin-top: 0px;
  }
}
.link__rmtdD {
  width: auto;
  max-width: 800px;
  color: var(--token-NxmCtU8ug);
  font-size: 16px;
  padding-left: 0px;
  height: 24px;
  font-weight: 400;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__rmtdD {
    font-size: 9px;
  }
}
.freeBox__mi35R {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.link__rbLKe {
  width: auto;
  max-width: 800px;
  color: var(--token-NxmCtU8ug);
  font-size: 16px;
  padding-left: 30px;
}
.link__beV5G {
  width: auto;
  max-width: 800px;
  color: var(--token-NxmCtU8ug);
  font-size: 16px;
  padding-left: 30px;
}
