.root {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  min-width: 0;
}
.header {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-9qSNJQr-9);
  width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__qhfmb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.link__jjYb {
  width: auto;
  max-width: 800px;
  color: var(--token-NxmCtU8ug);
  font-size: 32px;
  padding-left: 0px;
}
.freeBox__feBep {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__feBep {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.link__o7UF {
  width: auto;
  max-width: 800px;
  color: var(--token-NxmCtU8ug);
  font-size: 24px;
  padding-left: 30px;
}
.link__p0RYu {
  width: auto;
  max-width: 800px;
  color: var(--token-NxmCtU8ug);
  font-size: 24px;
  padding-left: 30px;
}
.link__nkx0G {
  width: auto;
  max-width: 800px;
  color: var(--token-NxmCtU8ug);
  font-size: 24px;
  padding-left: 30px;
}
.connect:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 34px;
  margin-left: 30px;
  width: 77px;
  margin-right: 14px;
  flex-shrink: 0;
}
.svg___7GLbe {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__qpKdw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
