.root {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  min-width: 0;
}
.header {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-9qSNJQr-9);
  width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__mTDr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.link__n94NC {
  width: auto;
  max-width: 800px;
  color: var(--token-NxmCtU8ug);
  font-size: 32px;
  padding-left: 0px;
}
.freeBox__mm6Vt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mm6Vt {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.link__bArC {
  width: auto;
  max-width: 800px;
  color: var(--token-NxmCtU8ug);
  font-size: 24px;
  padding-left: 30px;
}
.link__gYxzE {
  width: auto;
  max-width: 800px;
  color: var(--token-NxmCtU8ug);
  font-size: 24px;
  padding-left: 30px;
}
.link___7Dib8 {
  width: auto;
  max-width: 800px;
  color: var(--token-NxmCtU8ug);
  font-size: 24px;
  padding-left: 30px;
}
.connect:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 34px;
  margin-left: 30px;
  width: 77px;
  margin-right: 14px;
  flex-shrink: 0;
}
.svg__aXdZ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__keJem {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
